.topLeft, .bottomRight {
    background-color: #96CEB4;
}
.topRight, .bottomLeft, #statusTable {
    background-color: #FFEEAD;
}
#inventoryOneTable {
    background-color: #FFDAD9;
}
#inventoryTwoTable {
    background-color: #E0FFD8;
}

td {
    width: 8vw;
    height: 8vw;

    text-align: center;
    vertical-align: middle;
}

.container {
    border-spacing: 4rem 1rem;
}

img {
    width: 6vw;
    height: 6vw;
}

details img {
    width: 30vw;
    height: auto;
}

#gameTable {

    border-spacing: 0.6rem 0.6rem;
}
#gameTable td {

}
